@keyframes bounce {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.45);
  }
  90% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}

.bouncy {
  animation: bounce 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
